streamlit
fpdf2
plotly
streamlit-option-menu
streamlit-extras
streamlit-lottie

scikit-learn
PyPDF2
sentence-transformers
keybert

google-generativeai
transformers
torch
torchvision

numpy
pandas
requests